@import url("./vars.css");

.App {
    background-color: var(--color-bg);
    width: 100%;
    min-height: 100vh;
    color: var(--color-text);
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}