:root {
    /*colors*/
    --color-text:   #fff;
    --color-primary: #576cbc;
    --color-secondary: #f9f9f9;
    --color-dark: #0b2447;
    --color-bg: #04152d;
    --color-accent: #305aa0;

    /*fonts*/
    --font-primary: 'Roboto', sans-serif;
}
